<p-toast [style]="{marginTop: '80px'}"></p-toast>
<h2 class="first">Cargos</h2>
<router-outlet></router-outlet>
<div *ngIf="route.children.length === 0">
    <p-table #dt [columns]="cols" [value]="cargos" [paginator]="true" [rows]="6"
        [style]="{'max-width': '70%','display': 'block','margin': '0 auto'}">
        <ng-template pTemplate="caption">
            <div style="text-align: right;">
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Filtro Global"
                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>


            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th>Acciones</th>
            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'nombre'" pInputText type="text" size="10"
                        (input)="dt.filter($event.target.value, col.field, 'contains')">
                    <input *ngSwitchCase="'estado'" pInputText type="text" size="10"
                        (input)="dt.filter($event.target.value, col.field, 'contains')">
                </th>
                <th> </th>
            </tr>



        </ng-template>
        <ng-template pTemplate="body" let-carg let-columns="columns">

            <tr [pSelectableRow]="carg">


                <td style="text-align: center;">{{carg.idCargo}}</td>
                <td>{{carg.nombre}}</td>
                <td>{{carg.estado}}</td>
                <td style="text-align: center;">
                    <button pButton type="button" class="ui-button-warning" icon="pi pi-pencil"
                        style="margin-right: 0.5em" [routerLink]="['/cargo/edicion', carg.idCargo ]"></button>
                    <button pButton type="button" class="ui-button-danger" icon="pi pi-trash"
                        (click)="eliminar(carg.idCargo)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div style="text-align: right;margin-top: 1rem;margin-right: 15rem;">
        <button style="font-size: 1em;" pButton type="button" label="Nuevo" class="ui-button-rounded ui-button-info"
            icon="pi pi-file-o" iconPos="right" routerLink='/cargo/nuevo'></button>


    </div>
</div>