::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
  }
  .labelInput{
      color: #FFF;
  }
  .spaceControls{
      padding: 0.8rem;
  }
  /*
  .container-meform{
    background-color: #3f3f3f;
    padding: 30px;
    border-radius: 12px;
    max-width: 85%;
    margin:0 auto;
  }
  

  @media(max-width:876px){
   .container-meform{
    max-width: 100%;
   }
  }
  */